<div class="row justify-content-center mt-5">
    <div class="col col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Pedidos</h3>
            </div>
            <div class="card-body">
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group">
                        <button id="agregar-pedido-btn" style="display: none;" type="button" class="btn btn-primary  mr-2" data-toggle="modal" data-target="#pedidos-modal">Agregar pedido</button>
                        <select required class="form-control" id="select-filter" onchange="initGrilla()">
                            <option>Activos</option>
                            <option value="Pendiente">Pendientes</option>
                            <option >En preparación</option>
                            <option>Listo para servir</option>
                            <option value="Terminado">Terminados</option>
                            <option>Todos</option>
                        </select>
                    </div>
                    <div class="btn-group" role="group">
                        <button (click)="this.getAllWithState('Pendiente')" type="button" class="btn btn-primary">Actualizar</button>
                        <button [routerLink]="['/formulario']" type="button" class="btn btn-secondary">Nuevo</button>
                        <button [routerLink]="['/estadisticas']" type="button" class="btn btn-info">Estadísticas</button>
                    </div>
                </div>
                <table id="tabla-pedidos" class="table mt-3">
                        <thead>
                            <tr>
                            <th scope="col">Pedido</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ped of pedidos">
                                <td>{{ped.nombre}}</td>
                                <td>{{ped.cantidad}}</td>
                                <td>
                                    <select [(ngModel)]="ped.estado" id="select-vino-1" class="form-control">
                                        <option>Pendiente</option>
                                        <option>En preparación</option>
                                        <option>Listo para servir</option>
                                        <option>Terminado</option>
                                    </select>
                                </td>
                                <td><button class="btn btn-info" (click)="verDetalle(ped)">ver</button></td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>     
    </div>           

    <!-- Modal -->
    <div class="modal fade" id="spinner-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 235px;">
        <div class="modal-content" >
            <div class="modal-body">
                spinner
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="mesaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Info de la mesa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-tables">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="totalesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Totales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-total">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>
