.nav-logo{
	margin-top: 5px;
}

.form-login {
	margin-top: 160px;
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
}

.form-login img {
    display: block;
	margin: 0 auto;
    margin-bottom: 35px;
    width: 100%;
}

.form-login .input-group,
.form-login button {
    font-size: 18px;
	margin: 16px 0;
}
