<div class="row justify-content-center mt-5">
    <div class="col col-12 col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Información sobre nosotros</h3>
            </div>
            <div class="card-body">
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group">
                        <button [routerLink]="['/']" type="button" class="btn btn-secondary">Volver</button>
                    </div>
                </div>
                <br/>
                <div class="card">
                    <div class="card-body">
                        Estamos en <b>Mitre 750</b> <br/>
                        <i>(Avellaneda, Buenos Aires - Argentina)</i>
                        <div id="map" class="map"></div>
                    </div>
                </div>
            </div>
        </div>     
        <br/>
    </div>           

</div>