<div class="row justify-content-center">
    <div class="col col-11 col-md-6">
        <section class="form-login">
            <div class="card mt-5">
                <div class="card-header">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                    <form action="#">
                        <div class="input-group">
                            <input [(ngModel)]="usr" type="text" class="form-control" name="usr" placeholder="Usuario">
                        </div>
                        <br>
                        <div class="input-group">
                            <input [(ngModel)]="pass" type="password" class="form-control" name="pass" placeholder="Contraseña">
                        </div>
                        <br>
                        <div class="input-group">
                            <input [(ngModel)]="confirmPass" type="password" class="form-control" name="pass" placeholder="Confirmar contraseña">
                        </div>   
                        <br>
                        <select [(ngModel)]="type" name="type" class="form-control">
                            <option disabled selected>Tipo de usuario</option>
                            <option>Mozo</option>
                            <option>Cocinero</option>
                            <option>Encargado</option>
                        </select>   
                        <br>
                        <re-captcha (resolved)="resolved($event)" siteKey="6LeAvXkUAAAAABEmWDheifWo_PFXmYKTpEdu7_e-"></re-captcha>
                        <br>
                        <span class="text-warning">
                            {{errorMsg}}
                        </span>
                        <input type="button" class="btn btn-lg btn-primary btn-block" value="Registrarse" (click)="registro()" />  
                    </form>
                </div>
            </div>
                            
        </section>  
    </div>     
</div>