<div class="row justify-content-center">
    <div class="col col-11 col-md-6">
        <section class="form-login">
            <div class="card mt-5">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="formGroup">
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input name="usr" formControlName="usr" type="text" pInputText placeholder="Usuario">         
                        </div>
                        <br>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
                            <input name="pass" formControlName="pass" type="password" pInputText placeholder="Password">         
                        </div>
                        <br>
                        <span class="text-warning">
                            {{errorMsg}}
                        </span>
                        <button type="button" class="btn btn-lg btn-primary btn-block" (click)="login()">Ingresar</button>  
                        ¿No trenés cuenta? <a [routerLink]="['/registro']">Registrate</a>
                    </form>

                    <button class="btn btn-sm btn-primary" (click)="testLogin('Mozo')">Mozo</button>
                    <button class="btn btn-sm btn-primary" (click)="testLogin('Socio')">Socio</button>
                    <button class="btn btn-sm btn-primary" (click)="testLogin('CocineroCoc')">Cocinero (Cocina)</button>
                    <button class="btn btn-sm btn-primary" (click)="testLogin('CocineroPost')">Cocinero (Postres)</button>
                    <button class="btn btn-sm btn-primary" (click)="testLogin('Cervecero')">Cervecero</button>
                    <button class="btn btn-sm btn-primary" (click)="testLogin('Bartender')">Bartender</button>

                </div>
            </div>
                            
        </section>  
    </div>     
</div>