<div class="row justify-content-center">
    <div class="col col-11 col-md-6">
        <section class="form-login">
            <div class="card mt-5">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form action="#">
                        <div class="input-group">
                            <input [(ngModel)]="usr" type="text" class="form-control" name="usr" placeholder="Usuario">
                            <div class="invalid-feedback" id="usuarioError">Nombre de usuario equivocado</div>
                        </div>
                        <br>
                        <div class="input-group">
                            <input [(ngModel)]="pass" type="password" class="form-control" name="pass" placeholder="Contraseña">
                            <div class="invalid-feedback" id="contraError">Contraseña incorrecta</div>
                        </div>   
                        <br>
                        <span class="text-warning">
                            {{errorMsg}}
                        </span>
                        <input type="button" class="btn btn-lg btn-primary btn-block" value="Ingresar" (click)="login()" />  
                    </form>
                </div>
            </div>
                            
        </section>  
    </div>     
</div>